# Dépendances
node_modules/

# Fichiers sensibles et tokens
.env
token.js

# Dossiers de données, sessions et fichiers temporaires
richstore/
userall/
database/
tmp/

# Fichier temporaire de mise à jour
utils/update_status.json

